<div class="container py-4">

  <div class="d-flex justify-content-between align-items-center">
    <h3>Dashboard</h3>

    <button class="btn btn-outline-danger" (click)="auth.logout()">
      Logout
    </button>
  </div>

  <!-- User Card -->
  <div class="card mt-3 shadow-sm">
    <div class="card-body">

      <p class="mb-1">
        <strong>User:</strong>
        {{ auth.user?.name }} ({{ auth.user?.role }})
      </p>

      <p class="mb-0">
        <strong>Commission Earned:</strong>
        ₹{{ auth.user?.commissionEarned }}
      </p>
      <p class="mb-0">
        <strong>Balance:</strong>
        ₹{{ auth.user?.balance }}
      </p>

      <div class="d-flex align-items-center gap-2 mt-3 flex-wrap">

        <a routerLink="users" class="btn btn-sm btn-primary">
          Manage Users
        </a>
        <div class="d-flex" *ngIf="auth.user?.role === 'OWNER'">

          <input type="number" class="form-control form-control-sm" placeholder="Recharge Amount" min="0"
            style="max-width:150px; margin-right: 5px;" [(ngModel)]="rechargeAmount" />

          <button class="btn btn-sm btn-success" (click)="addRecharge()">
            Add Balance
          </button>
        </div>

      </div>
    </div>
  </div>

  <!-- Statement -->
  <div class="card mt-3 shadow-sm">
    <div class="card-body">

      <h5>Statement</h5>

      <div *ngIf="loading" class="text-muted">
        Loading transactions...
      </div>

      <div *ngIf="error" class="text-danger">
        {{ error }}
      </div>

      <table *ngIf="!loading" class="table table-sm table-striped mt-2">
        <thead>
          <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Time</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let i of statement">
            <td>{{ i.type }}</td>
            <td>₹{{ i.amount }}</td>
            <td>{{ i.senderId?.username || '-' }}</td>
            <td>{{ i.receiverId?.username || '-' }}</td>
            <td>{{ i.createdAt | date:'medium' }}</td>
          </tr>

          <tr *ngIf="statement.length === 0">
            <td colspan="5" class="text-center text-muted">
              No transactions found
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>

  <router-outlet></router-outlet>

</div>