PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/hierarchy_wallet
JWT_SECRET=replace_with_long_secret
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:4200
SESSION_SECRET=replace_with_session_secret
OWNER_DEFAULT_PASSWORD=Owner@123
